body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-image: url('assets/peacock-feather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#003a6e;
}

main {
    max-width: 900px;
    margin: 20px auto;
    margin: 80px auto 20px;
    padding: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.90); /* Use rgba with an alpha value (0.9 for 90% opacity) */

}

section {
    margin-bottom: 20px;
}

ol {
    padding-left: 20px;
}

ol li{
margin:30px 0px;
}

nav {
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0px 15px;
    width: 100%;
    background: linear-gradient(to right, #4a90e2, #0074cc, #003a6e);
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.logo-image {
    position: relative;
    top: 5px;
    width: 25px;
    height: auto;
    margin: 0px 5px;
}

#logo-link {
    font-family: 'Style Script', cursive;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    padding: 5px 20px;
    text-align: center;
}



nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0px 25px;
    padding: 5px 0px;
    position: relative;
    transition: color 0.5s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 25%;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #8fdfff;
}

nav a:hover::before {
    width: 80%;
    background: linear-gradient(to right, #03f1ba, #00c962);
}
.sub-menu{
    border-radius: 3px;
    z-index: 10;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Box shadow with slight opacity */
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-img {
    width: 45px;
    height: 45px;
    outline: 2px solid #fff; /* Add a 2px solid white border */
    margin: 0px 80px 0px 30px;
    cursor: pointer;
    filter: brightness(1.2); /* Adjust the value as needed (1 is normal brightness) */
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4); /* Add a box shadow with desired properties */
    border-radius: 50%; /* Ensure the circular shape is maintained */
}

.green-circle {
    width: 10px;
    height: 10px;
    background-color: #00a44f;
    position: absolute;
    bottom: 5px;
    right:80px;
    border-radius: 50%; /* Make it a perfect circle */
    animation: blink 1.2s infinite alternate; /* Blinking animation */
    border: 1px solid #fff; /* Add a white border */
}

@keyframes blink {
    0% {
        opacity: 1; /* Start with full opacity */
    }
    100% {
        opacity: 0.4; /* End with no opacity (hidden) */
    }
}

.sub-menu-wrap{
    position: absolute;
    z-index: 999;
    top: 100%;
    right:5%;
    width: 340px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding:20px;
    margin:10px;
    z-index: 999;

}

hr{
    border: 0;
    height:2px;
    width: 100%;
    background-color: #003a6e;
    margin: 15px 0 10px;
}

.user-info{
    display: flex;
    align-items: center;
}
.crafted-by{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.user-info h3{
    font-weight: 600;
    color: #003a6e;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    outline: 2px solid #003a6e; /* Add a 2px solid white border */
    margin-right:15px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3); /* Add a box shadow with desired properties */
    filter: brightness(1.2);
}

.green-circle-profile {
    width: 12px;
    height: 12px;
    background-color: #00a44f;
    position: absolute;
    top: 80px;
    left: 78px;
    border-radius: 50%; /* Make it a perfect circle */
    border: 1px solid #fff; /* Add a white border */
    animation: blink 1.2s infinite alternate; /* Blinking animation */
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.social-icon{
    width: 37px;
    height: 37px;
    margin: 9px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3); /* Add a box shadow with desired properties */
    transition: scale 0.2s ease-in-out;
}

.social-icon:hover{
    scale: 1.25;
}
.heading{
    font-family: 'Style Script', cursive;
    text-align: center;
    margin: 10px;
    color: #003a6e;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top to avoid overlap */
    color: #003a6e;
    font-family: monospace;
    margin: 20px 25px;
}

.description {
    flex: 1; /* Allow the description to take up remaining space */
    margin-right: 20px; /* Add spacing between text and slider */
    text-align: left; /* Align the text to the left */
}

.slider {
    width: 250px; /* Adjust the width as needed for your slider */
    height: 250px; /* Automatically adjust the height based on the content */
}

.slider .slide {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: none;
    object-fit: cover;
}

.slide.active {
    display: block;
}

.nav{
    text-align: center;
    margin-top: 15px;
    z-index: 10;
    position: absolute;
    padding: 5px;
    display: flex;
    width: 250px;
    height: 250px;
    top:107px;
    right:4.25%;
}

.nav button{
    width: 35px;
    height: 35px;
    outline: none;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 800;
    border: 0;
    background-color: rgba(255, 255, 255, 0); /* Transparent initially */
    padding: 125px 5px;
    cursor: pointer;
    justify-content: center;
    transition: color 0.3s ease-in, background-color 0.5s ease-in; /* Smooth transition */
}

.nav button:hover{
    background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent white */
    color: #959595;
}


footer {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.life-events{
 font-family: monospace;
 color: #003a6e;
}

.section-heading{
 display: flex;
 margin:50px 20px 30px 20px;   
 justify-content: center;
 align-items: center;
}

.container-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px; 
    margin: 0 auto; 
}
.container{
    width: 260px;
    height: 370px;
    display: flex;
    position: relative;
    margin: 0px 20px 35px 20px;
    border-radius: 5px;
    background-color: #fff;
    flex-direction: column;
    transition: box-shadow 0.3s; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
cursor: pointer;}

.image{
    overflow: hidden;
    width: 260px;
    min-height: 225px;
}
.image img{
    width: 260px;
    height:225px;
    object-fit: fill;
    transition: scale 0.3s ease-in-out;
}

.container:hover .image img{
    scale: 1.1;
    }

.container:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container-content{
padding: 5px;
margin: 5px;
}

.read-more{
    padding: 3px 15px 10px 150px;
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: #fff;
}

.read-more a{
    text-decoration: none;
    color:#003a6e;
    font-weight: 700;
}

#lessons{
    width: 850px;
    margin: 25px;
}

.gallery {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row img {
    width: 190px;
    height: 190px;
    object-fit: fill;
    padding: 5px;
}